* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  font-size: 62.5%;
  font-family:'Mulish', 'sans-serif';

  --off-white: #ffffff;
  --gray-scale1: #f9f4fb;
  --accent-color: #b52184;
  --base-text: #312d64;
  --gradient-color: linear-gradient(96.21deg, #343196 0%, #302c63 99.68%);
}

body {
  background: var(--gray-scale1);
  font-family:'Mulish', 'sans-serif';
}

img {
  width: 100%;
}

h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 900;
  color: var(--accent-color);
  margin: 1.7rem 0 0.5rem 0;
}

h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 900;
  color: var(--accent-color);
  font-family: "Mulish", sans-serif;
}

h3 {
  font-size: 2.9rem;
  line-height: 3.6rem;
  font-weight: 900;
  color: var(--accent-color);
  margin-bottom: 2rem;
  font-family: "Mulish", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--base-text);
}

span {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: var(--base-text);
}

a img {
  width: 8rem;
}

button,
input,
fieldset,
textarea {
  border: none;
  background: none;
  font-family: "Mukish", sans-serif;
}

#hero {
  padding: 0 3.4rem 9.3rem 3.2rem;
  width: 100%;
}

#hero .hero-odd p {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: var(--base-text);
  margin-bottom: 3.5rem;
}

#hero .hero-odd .button-down {
  width: 5.8rem;
  height: 10.5rem;
  border: 4px solid var(--accent-color);
  border-radius: 76rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: filter 300ms;
}

#hero .hero-odd .button-down:hover {
  filter: brightness(0.7);
}

#hero .hero-odd .button-down img {
  width: 3rem;
}

/* Cards Section */

#cards {
  width: 100%;
  height: 100%;
  background: var(--gradient-color);
  padding: 5.3rem 3.9rem 5.5rem;
  display: grid;
  gap: 4.9rem;
}

#cards .card {
  background: var(--off-white);
  padding: 2.6rem;
  border-radius: 2rem;
}

#cards .card img {
  width: 8rem;
  margin-bottom: 3.3rem;
}

#cards .card .card-text {
  width: 26.5rem;
}

#contact {
  width: 100%;
  height: 100%;
  padding: 7.8rem 3.9rem 6.5rem;
}

#contact form h2 {
  margin-bottom: 4.3rem;
}

#contact form input,
#contact form textarea {
  width: 100%;
  border: 0.15rem solid var(--base-text);
  border-radius: 1.6rem;
  padding: 1.2rem 1.6rem 1.6rem;
  color: var(--base-text);
  font-weight: 600;
  font-size: 1.6rem;
}

#contact form textarea {
  height: 12.6rem;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
  font-family: "Mulish", sans-serif;
  color: var(--base-text);
  font-weight: 600;
  font-size: 1.6rem;
}

#contact form input::placeholder {
  padding-left: 2.8rem;
}

#contact form button {
  background: var(--gradient-color);
  color: var(--off-white);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  font-family: "Mulish", sans-serif;
  padding: 1rem 1.6rem;
  border-radius: 1.6rem;
  cursor: pointer;
  transition: filter 200ms;
}

#contact form button:hover {
  filter: brightness(0.9);
}

#name {
  background: url(./assets/person.svg) no-repeat scroll 1.4rem 1.2rem;
}

#email {
  background: url(./assets/arroba.svg) no-repeat scroll 1.4rem 1.2rem;
}

footer {
  background: var(--gradient-color);

  padding: 3.2rem 1.6rem;
}

footer p {
  color: var(--off-white);
  font-size: 1.9rem;
  line-height: 2.4rem;
  font-weight: 600;
  text-align: center;
}

/* @media */

@media (min-width: 72rem) {
  /* Global Styles */
  h1 {
    font-size: 5.8rem;
    line-height: 7.3rem;
    margin: 0 0 0.8rem;
  }

  /* Hero */
  #hero {
    display: flex;
    justify-content: space-between;
    padding: 0 2.9rem 10.3rem 10.9rem;
    max-height: 83.6rem;
  }

  #hero .hero-odd {
    order: 1;
    margin-top: 31.2rem;
  }

  #hero .astronaut {
    order: 2;
  }

  #hero .hero-odd span {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 17.9rem;
  }

  #hero .hero-odd .button-down {
    margin: 0;
    justify-self: flex-end;
  }

  /* Cards */
  #cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    padding: 3.4rem 11.1rem 8rem;
  }

  #cards .card {
    padding: 3.2rem;
    border-radius: 2.4rem;
  }

  #cards .card img {
    width: 9.7rem;
    margin-bottom: 4rem;
  }

  /* Contact section */

  #contact {
    display: flex;
    align-items: center;
    gap: 9.2rem;
    padding: 0;
    height: 62.2;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: right;
  }

  #contact form {
    flex: 1;
    margin-left: 10.9rem;
  }

  #contact .stars {
    flex: 1;
  }
}



